body {
    background-color: #212529;
    /* Set the background color to a dark color */
}

.bg-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  